<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="historyFile" value=".history"/>
    <add key="eLogin" value="rss2emailforwarder@gmail.com"/>
    <add key="ePassword" value="rss2emailforwarderpassworD"/>
  </appSettings>
</configuration>